<?xml version='1.0' encoding='utf-8'?>
<widget id="nl.atkoinc.shop" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AtkoShop</name>
    <description>
        This application demonstrates a real-life optimization for reducing end user friction in retail. It uses Okta redacted access tokens. 
    </description>
    <author email="benusfrank@gmail.com" href="http://oktanacious.com">
        Frank Benus
    </author>
    <icon src="icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <universal-links>
        <ios-team-id value="2683YDGHXN" />
        <host name="www.atkoinc.nl">
            <path event="ul_callBack" scheme="https" url="/callback" />
            <path event="ul_openApp" scheme="https" url="/app" />
            <path event="ul_fullaccess" scheme="https" url="/renew" />
        </host>
    </universal-links>
</widget>
